<template name="questionForm">
    <form class="new-question ui form">
        <div class="field">
            <label>Question:</label>
            <input type="text" name="question" placeholder="Enter a question">
        </div>
        <div class="field last-choice-field">
            <label>Choice #1:</label>
            <input class="last-choice" type="text" name="choice" placeholder="Enter a choice">
        </div>
        <div id="submit" class="ui one column stackable center aligned page grid">
            <div class="column twelve wide">
                <div class="field">
                    <input type="submit" class="ui green large basic button">
                </div>
            </div>
        </div>
    </form>
    {{> questionError}}
</template>

<template name="questionError">
    <div class="ui small modal">
        <div class="header">
            Error
        </div>
        <div class="content">
            <h5>You have the following errors with your poll:</h5>
            <ul>
                {{#each questionErrors}}
                    <li>{{this}}</li>
                {{/each}}
                {{#each choiceErrors}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="actions">
            <div class="ui cancel small red button">Got It!</div>
        </div>
    </div>
</template>